# Problem Set 5

For this problem set (Due Dec. 6th, 2022), we will be using world.sqlite to answer these questions. The database can be found at the following path on HiPerGator:
```
/blue/bsc4452/share/Class_Files/data/world.sqlite
```

### Group Members
- Amanda Markee
- Julia Bruner
- Kaylin Kleckner

## Question 1 (Amanda)

What is the country with the latest year (most recent) of independence? The code can either be SQL or SQLAlchemy code.

- Provide your answer (2 points) 
- Provide the code used to get that answer (3 points)

In [1]:
#!/usr/bin/env python
from sqlalchemy import create_engine
from sqlalchemy import MetaData
from sqlalchemy import Table, Column
from sqlalchemy import Integer, String
from sqlalchemy import sql, select, join, desc
from sqlalchemy import func

# Create an Engine obect which is our handle into the database
engine = create_engine('sqlite:////blue/bsc4452/amanda.markee/Class_Files/data/world.sqlite')

# Connect to the database
conn = engine.connect()

# Read the metadata from the existing database.
# Since the database already exists, and has tables defined, we can create Python objects based on these automatically.
DBInfo = MetaData(engine)

In [2]:
# Auto-create the city object basedon the metadata read into the DBInfo.
city=Table('city', DBInfo, autoload=True)

In [3]:
type(city) # Not a dataframe, but a SQLalchemy schema table

sqlalchemy.sql.schema.Table

In [4]:
# Mirroring this command: SELECT Id, Name, Population FROM city LIMIT 10;
# city.c.ID where city = object, c = column, and ID = column name
query = select([city.c.ID, city.c.Name, city.c.Population]).limit(10)
result = conn.execute(query)
for row in result:
    print(row)

(1, 'Kabul', 1780000)
(2, 'Qandahar', 237500)
(3, 'Herat', 186800)
(4, 'Mazar-e-Sharif', 127800)
(6, 'Rotterdam', 593321)
(7, 'Haag', 440900)
(8, 'Utrecht', 234323)
(9, 'Eindhoven', 201843)
(10, 'Tilburg', 193238)
(11, 'Groningen', 172701)

In [5]:
# Using the code above for guidence, I want to start building a table for country-specific information
country=Table('country', DBInfo, autoload=True)

In [53]:
# Using the above code for guidence, I want to query the country with their independence year.
# Lastly, I want to print the independence years in descending order to find the youngest country.

query_ind = select([country.c.Name,country.c.IndepYear]).where(country.c.IndepYear is not None).order_by(desc(country.c.IndepYear)).limit(10)

result = conn.execute(query_ind)
for row in result:
    print(row)

('Palau', 1994)
('Czech Republic', 1993)
('Eritrea', 1993)
('Slovakia', 1993)
('Bosnia and Herzegovina', 1992)
('Armenia', 1991)
('Azerbaijan', 1991)
('Belarus', 1991)
('Estonia', 1991)
('Georgia', 1991)

#### The answer for Question 1 is Palau, established in 1994 as the youngest country.

## Question 2 (Julia)

In [13]:
# import functions from sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import MetaData
from sqlalchemy import Table, Column
from sqlalchemy import Integer, String
from sqlalchemy import sql, select, join, desc

In [14]:
# Create a engine/handle into the database.
engine = create_engine('sqlite:////blue/bsc4452/juliabruner/world.sqlite')

# Connect to the database
conn = engine.connect()

# Read the metadata from the existing database.
#  Since the database already exists and has tables defined, we can create Python objects based on these automatically.
DBInfo=MetaData(engine)

In [15]:
# Auto-create the tables based on the metadata read into the DBInfo.

city=Table('city', DBInfo, autoload=True)

country=Table('country', DBInfo, autoload=True)

countrylanguage=Table('countrylanguage', DBInfo, autoload=True)

In [16]:
# define values needed to insert country
print(country.insert())

INSERT INTO country ("Code", "Name", "Continent", "Region", "SurfaceArea", "IndepYear", "Population", "LifeExpectancy", "GNP", "GNPOld", "LocalName", "GovernmentForm", "HeadOfState", "Capital", "Code2") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [17]:
# providing the information for inserting south sudan as a country
# my_insert=country.insert().values(Code='SSD', Name='South Sudan', Continent='Africa', Region='Central', SurfaceArea=248777, 
#                               IndepYear=2011, Population=11380000, LifeExpectancy=58, GNP=11600000000, GNPOld=0,
#                               LocalName='South Sudan', GovernmentForm='Presidential Republic', HeadOfState='Salva Kiir Mayardit',
#                               Capital='Juba', Code2='')

In [18]:
# execute the insert 
# result = conn.execute(my_insert)

### NOTE: 
The 2 cells above are commented out to prevent an error from displaying. The error is related to the foreign key which dicates that the country code must be unique. Since I already ran the code to insert South as SSD, the cell cannot be run again without giving an error. Instead please refer to the output of the cell below to verify proper country insert.

In [19]:
# checking that data for South Sudan was sucessfully inserted into the Country Table 
query=select([country.c.Name, country.c.Capital, country.c.IndepYear, country.c.HeadOfState]).where(country.c.Name=='South Sudan')
result = conn.execute(query)
for row in result:
    print(row)

    
# checking that data for South Sudan was sucessfully inserted into the Country Table

('South Sudan', 'Juba', 2011, 'Salva Kiir Mayardit')

## Question 3 (Julia)

In [20]:
# define the values you need to insert 
print(city.insert())

INSERT INTO city ("ID", "Name", "CountryCode", "District", "Population") VALUES (?, ?, ?, ?, ?)

In [21]:
my_insert=city.insert().values(Name='Juba', CountryCode='SSD',District='Central Equatoria',Population=525953)
print(my_insert)

INSERT INTO city ("Name", "CountryCode", "District", "Population") VALUES (?, ?, ?, ?)

In [22]:
result = conn.execute(my_insert)

In [23]:
query=select([city.c.ID, city.c.Name, city.c.District, city.c.Population]).where(city.c.Name.like('Juba'))
result = conn.execute(query)
for row in result:
    print(row)
#checking that Juba was inserted into the city table

(3235, 'Juba', 'Bahr al-Jabal', 114980)
(1234568, 'Juba', 'Central Equatoria', 525953)
(1234569, 'Juba', 'Central Equatoria', 525953)
(1234571, 'Juba', 'Central Equatoria', 525953)
(1234573, 'Juba', 'Central Equatoria', 525953)

In [24]:
# adding the second city, Malakal
my_insert=city.insert().values(Name='Malakal', CountryCode='SSD',District='Upper Nile State',Population=147450)
print(my_insert)

INSERT INTO city ("Name", "CountryCode", "District", "Population") VALUES (?, ?, ?, ?)

In [25]:
result = conn.execute(my_insert)

In [26]:
query=select([city.c.ID, city.c.Name, city.c.District, city.c.Population]).where(city.c.Name.like('Malakal'))
result = conn.execute(query)
for row in result:
    print(row)
    
# checking that Malakal was inserted into the city table

(1234570, 'Malakal', 'Upper Nile State', 147450)
(1234572, 'Malakal', 'Upper Nile State', 147450)
(1234574, 'Malakal', 'Upper Nile State', 147450)