# Question 2

In [ ]:
# define values needed to insert country
print(country.insert())

In [ ]:
# providing the information for inserting south sudan as a country
my_insert=country.insert().values(Code='SSD', Name='South Sudan', Continent='Africa', Region='Central', SurfaceArea=248777, 
                               IndepYear=2011, Population=11380000, LifeExpectancy=58, GNP=11600000000, GNPOld=0,
                               LocalName='South Sudan', GovernmentForm='Presidential Republic', HeadOfState='Salva Kiir Mayardit',
                               Capital='Juba', Code2='')

In [ ]:
# execute the insert 
result = conn.execute(my_insert)

In [ ]:
# checking that data for South Sudan was sucessfully inserted into the Country Table 
query=select([country.c.Name, country.c.Capital, country.c.IndepYear, country.c.HeadOfState]).where(country.c.Name=='South Sudan')
result = conn.execute(query)
for row in result:
    print(row)

    
# checking that data for South Sudan was sucessfully inserted into the Country Table

# Question 3

In [ ]:
# define the values you need to insert 
print(city.insert())

In [ ]:
my_insert=city.insert().values(Name='Juba', CountryCode='SSD',District='Central Equatoria',Population=525953)
print(my_insert)

In [ ]:
result = conn.execute(my_insert)

In [ ]:
query=select([city.c.ID, city.c.Name, city.c.District, city.c.Population]).where(city.c.Name.like('Juba'))
result = conn.execute(query)
for row in result:
    print(row)
#checking that Juba was inserted into the city table

In [ ]:
# adding the second city, Malakal
my_insert=city.insert().values(Name='Malakal', CountryCode='SSD',District='Upper Nile State',Population=147450)
print(my_insert)

In [ ]:
result = conn.execute(my_insert)

In [1]:
query=select([city.c.ID, city.c.Name, city.c.District, city.c.Population]).where(city.c.Name.like('Malakal'))
result = conn.execute(query)
for row in result:
    print(row)
    
# checking that Malakal was inserted into the city table

NameError: name 'select' is not defined