# Problem Set 5

For this problem set (Due Dec. 6th, 2022), we will be using world.sqlite to answer these questions. The database can be found at the following path on HiPerGator:
```
/blue/bsc4452/share/Class_Files/data/world.sqlite
```

### Group Members
- Amanda Markee
- Julia Bruner
- Kaylin Kleckner

### Question 1 (5 Points) Amanda Markee
What is the country with the latest year (most recent) of independence? The code can either be SQL or SQLAlchemy code.

- Provide your answer (2 points) 
- Provide the code used to get that answer (3 points)

In [9]:
#!/usr/bin/env python
from sqlalchemy import create_engine
from sqlalchemy import MetaData
from sqlalchemy import Table, Column
from sqlalchemy import Integer, String
from sqlalchemy import sql, select, join, desc
from sqlalchemy import func

# Create an Engine obect which is our handle into the database
engine = create_engine('sqlite:////blue/bsc4452/amanda.markee/Class_Files/data/world.sqlite')

# Connect to the database
conn = engine.connect()

# Read the metadata from the existing database.
# Since the database already exists, and has tables defined, we can create Python objects based on these automatically.
DBInfo = MetaData(engine)

In [10]:
# Auto-create the city object basedon the metadata read into the DBInfo.
city=Table('city', DBInfo, autoload=True)

In [11]:
type(city) # Not a dataframe, but a SQLalchemy schema table

sqlalchemy.sql.schema.Table

In [12]:
# Mirroring this command: SELECT Id, Name, Population FROM city LIMIT 10;
# city.c.ID where city = object, c = column, and ID = column name
query = select([city.c.ID, city.c.Name, city.c.Population]).limit(10)
result = conn.execute(query)
for row in result:
    print(row)

(1, 'Kabul', 1780000)
(2, 'Qandahar', 237500)
(3, 'Herat', 186800)
(4, 'Mazar-e-Sharif', 127800)
(6, 'Rotterdam', 593321)
(7, 'Haag', 440900)
(8, 'Utrecht', 234323)
(9, 'Eindhoven', 201843)
(10, 'Tilburg', 193238)
(11, 'Groningen', 172701)

In [13]:
# Using the code above for guidence, I want to start building a table for country-specific information
country=Table('country', DBInfo, autoload=True)

In [14]:
# Using the above code for guidence, I want to query the country with their independence year.
# Lastly, I want to print the independence years in descending order to find the youngest country.

query_ind = select([country.c.Name,country.c.IndepYear]).where(country.c.IndepYear is not None).order_by(desc(country.c.IndepYear)).limit(10)

result = conn.execute(query_ind)
for row in result:
    print(row)

('Palau', 1994)
('Czech Republic', 1993)
('Eritrea', 1993)
('Slovakia', 1993)
('Bosnia and Herzegovina', 1992)
('Armenia', 1991)
('Azerbaijan', 1991)
('Belarus', 1991)
('Estonia', 1991)
('Georgia', 1991)

#### The answer for Question 1 is Palau, established in 1994 as the youngest country.